.container {
  width: 500px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
  font-size: 30px;
  color: blue;
  line-height: normal;
}

h2 {
  font-family: monospace;
  font-size: 25px;
  padding-bottom: 10px;
}

body {
  background-color: aliceblue;
  font-family: 'Poppins';
  font-size: 15px;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  background-image: url(images/PXL_20230813_125010374.jpg);
  background-size: cover;
    -webkit-animation: slidein 30s;
    animation: slidein 30s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

@-webkit-keyframes slidein {
from {background-position: bottom; background-size:100px;}
to {background-position: top;background-size:500px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px;}
to {background-position: top;background-size:1000px;}
}

#yellow-btn {
  font-family: monospace;
  color: black;
  background-color: #a8dfe1;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  display: block;
  width: 530px;
}

#yellow-btn:hover {
  background-color: blue;
  color:white;
  transition: 0.3s ease;
}

a {
  color: whitesmoke;
  background-color: blue;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  background-color: #a8dfe1;
  color:black;
  transition: 0.3s ease;
}

.card {
  display: block;
  width: 500px;
  margin: 25px auto;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  padding: 25px;
}

.img-circle {
  display: block;
  border-radius: 50%;
  width: 400px;
  height: auto;
  margin: auto;
  padding-bottom: 10px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
